<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find arhex_gazebo)/worlds/arhex.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find arhex_description)/urdf/arhex.urdf -urdf -z 1 -model arhex" />
  <param name="robot_description" textfile="$(find arhex_description)/urdf/arhex.urdf"/>
</launch>